/*�ʻ�������ʽ(sunny����)*/
input {
	vertical-align: middle;
	font-size: 12px
}

.clear {
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}

.t2 a {
	color: #404040;
	text-decoration: none
}

.t2 a:hover {
	color: #404040;
	text-decoration: underline
}

.t3 a {
	color: #666;
	text-decoration: none
}

.t3 a:hover {
	color: #666;
	text-decoration: underline
}

.t4 a {
	color: #9b9b9b;
	text-decoration: none
}

.t4 a:hover {
	color: #9b9b9b;
	text-decoration: underline
}

.red_bold {
	color: #c30;
	font-weight: bold
}

.s14 {
	font-size: 14px;
}

.c_gray {
	color: #9b9b9b;
	font-size: 12px
}

.text_bold {
	font-weight: bold
}

.button_1 {
	width: 50px;
	height: 22px;
	padding-top: 1px;
	cursor: hand
}

.text_c {
	text-align: center
}

.button_delete {
	width: 65px;
	height: 25px;
	padding-top: 1px;
	cursor: pointer;
	margin-left: 13px;
	float: left;
	margin-top: 2px
}


.button_often {
	width: 115px;
	height: 20px;
	padding-top: 1px;
	cursor: hand
}

.button_ok {
	width: 65px;
	height: 23px;
	font-size: 14px;
	padding-top: 1px;
	cursor: hand
}

.empty_box2 {
	clear: both
}

.account_right {
	width: 779px;
	float: left;
	margin: 10px 0 20px;
	padding-left: 10px;
}

.account_right_kkk {
	width: 779px;
	float: right;
	margin: 10px 0 20px;
	padding-left: 10px;
}

.account_right h2 {
	height: 20px;
	padding: 5px 0 23px 10px;
	font-size: 14px;
} /*2010-5-9 qsy�޸�*/
.account_right h2 span {
	font-size: 12px;
	font-weight: normal;
	padding-left: 10px;
}

.account_right_shuoming {
	float: right;
	height: 20px;
	padding-top: 5px;
	padding-right: 5px;
}

.account_right h3 {
	height: 20px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 12px;
	font-weight: normal;
}

.account_right_zhifulishi {
	height: 20px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 12px;
	font-weight: normal;
	float: left;
}

.account_right h4 {
	height: 20px;
	padding-top: 15px;
	padding-left: 10px;
	font-size: 12px;
	font-weight: normal;
}

.account_right .problem {
	float: right;
	padding-top: 7px;
	text-align: right
}

.my_address {
	width: 777px;
	background: #f4feff;
	border-bottom: 1px solid #d3d3d3;
} /*2010-5-9 qsy�޸�*/
.my_address .bj_l {
	width: 4px;
	height: 132px;
	background: url(../images/address_bj_l.gif) no-repeat;
	float: left
}

.my_address .bj_r {
	width: 4px;
	height: 132px;
	background: url(../images/address_bj_r.gif) no-repeat;
	float: right
}

.my_address .often {
	height: 30px;
	width: 736px;
	margin: 0 auto;
	border-bottom: 1px solid #d3d3d3;
	line-height: 30px;
	padding-left: 7px;
} /*2010-5-9 qsy�޸�*/
.my_address .often h5 {
	float: left;
	font-size: 12px
}

.my_address ul {
	list-style: none;
	width: 705px;
	margin: 12px auto 0;
} /*2010-5-9 qsy�޸�*/
.my_address ul li {
	display: block;
	clear: both;
} /*2010-5-9 qsy�޸�*/
.other_address {
	width: 741px;
	padding: 10px 0 2px 0;
	border-bottom: 1px solid #d3d3d3;
	margin: 0 auto;
} /*2010-5-9 qsy�޸�*/
.other_address .number {
	width: 20px;
	height: 60px;
	float: left
}

.other_address ul {
	list-style: none;
	width: 705px;
	margin: 3px auto 0;
} /*2010-5-9 qsy�޸�*/
.areaspan {
	
}
/*.other_address ul li{ padding-bottom:8px}*/
.other_address .add_left {
	margin-left: 15px
}

.account_right .look_gift {
	width: 812px;
	height: 18px
}

.account_right h4 {
	height: 18px;
	font-size: 12px
}

.account_right .add_h {
	float: left;
	width: 600px
}

.account_right .right_look {
	float: right;
	padding-right: 3px
}

.account_right .no_order {
	text-align: center;
	padding-top: 100px;
	color: #9b9b9b
}

.account_right .no_order p {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 20px;
	color: #414141
}

.account_message {
	width: 497px;
	height: 110px;
	font-size: 14px;
	background-color: #f4feff;
	border: 1px solid #d3d3d3;
	padding: 85px 0 0 145px;
	margin: auto;
	margin-top: 30px;
}

.account_message .m_bj_l {
	width: 4px;
	height: 196px;
	background: url(../images/account_bj_l.gif) no-repeat;
	float: left
}

.account_message .add_m_left {
	width: 300px;
	padding-left: 195px
}

.account_message .add_m_left2 {
	width: 300px;
	padding-left: 260px
}

.account_message .m_bj_r {
	width: 4px;
	height: 196px;
	background: url(../images/account_bj_r.gif) no-repeat;
	float: right
}

.tabl_order {
	width: 812px;
	border-collapse: collapse;
	text-align: left;
	border-top: solid 2px #40b1ca
}

.tabl_order td {
	padding: 7px 10px 3px 10px;
	border-bottom: solid 1px #dadada
}

.tabl_order .l_line {
	border-left: solid 1px #878787;
	border-bottom: solid 1px #666
}

.tabl_order .b_line {
	border-bottom: solid 1px #666;
}

.tabl_order .td_add_l {
	padding-left: 20px
}

.tabl_order .td_add_l_2 {
	padding-left: 35px
}

.your_news {
	padding: 8px 0 20px 0;
	text-align: right;
	color: #9b9b9b
}

.your_news p {
	padding-bottom: 10px
}

.look_old {
	height: 30px;
	padding-top: 15px
}

.look_old select {
	font-size: 12px;
	float: left
}

.look_old input {
	margin-left: 8px;
	float: left
}

.nickname {
	width: 460px;
	padding: 55px 0 0 160px;
	float: left
}

.nickname .material {
	height: 30px
}

.nickname .material .s_font {
	font-size: 14px
}

.nickname .material span {
	float: left;
	padding-top: 4px
}

.nickname .material .textbox {
	float: left;
	width: 155px;
	height: 16px;
	padding: 2px 0 0 5px;
	margin-right: 10px;
	border: solid 1px #8c8e8e
}

.nickname .material .add_style {
	margin-left: 70px
}

.nickname p {
	height: 25px;
	padding-top: 15px;
	color: #9b9b9b
}

.modify_email {
	width: 480px;
	float: left;
	padding: 38px 0 0 150px
}

.modify_email ul {
	list-style: none;
	font-size: 14px
}

.modify_email ul li {
	height: 22px;
	padding-bottom: 10px
}

.modify_email ul li .textbox2 {
	width: 155px;
	height: 16px;
	padding: 2px 0 0 5px;
	border: solid 1px #8c8e8e
}

.modify_email .add_ok {
	margin-left: 125px;
	margin-top: 5px
}

.reduce_modify_w {
	width: 580px;
	padding-left: 50px
}

.add_modify_w {
	width: 430px;
	padding-left: 200px
}

.modify_email p {
	font-size: 14px;
	padding-top: 15px
}

.modify_email .label_success {
	height: 30px;
	background: url(../images/label_2.gif) no-repeat 50px 10px;
	padding-left: 90px;
	padding-top: 15px
}

.modify_password {
	width: 360px;
	height: 50px;
	padding: 70px 0 0 270px;
	font-size: 14px;
	background: url(../images/label_2.gif) no-repeat 230px 62px;
	float: left
}

.account_top {
	width: 756px;
	height: 45px;
	margin: auto;
	padding-bottom: 5px;
	padding-top: 3px
}

.account_order {
	width: 671px;
	padding: 8px 0 3px 85px;
	margin: auto;
	background-color: #e3f1ff;
	border: solid 1px #9cadbc;
	border-bottom: none
}

.account_order ul {
	width: 334px;
	list-style: none;
	float: left
}

.account_order ul li {
	height: 20px
}

.account_order ul .add_high {
	height: 23px
}

.account_order ul li input {
	width: 70px;
	height: 20px;
	padding-top: 1px;
	margin-left: 8px;
	cursor: hand
}

/*'�ջ���ַ��'����*/
.windo_add_shadow {
	width: 228px;
	background: url(../images/shadow.gif) no-repeat right bottom
}

.windo_top_shadow {
	width: 228px;
	height: 106px
}

.windo_del_address {
	width: 220px;
	padding: 2px;
	border: solid 1px #457baa;
	background-color: #fff
}

.change_windo {
	height: 100px;
	float: left
}

.w_add_shadow1 {
	width: 2px;
	height: 103px;
	margin-top: 3px;
	float: left;
	background-color: #cfcfcf
}

.w_add_shadow2 {
	width: 225px;
	height: 2px;
	margin-left: 3px;
	background-color: #cfcfcf;
	overflow: hidden
}

.add_cancel_w {
	width: 288px;
	background: #FFFFFF
}

.windo_del_address .delete {
	height: 18px
}

.windo_del_address .delete input {
	width: 15px;
	height: 15px;
	background: url(../images/button_del.gif) no-repeat;
	cursor: hand;
	border: 0;
	float: right
}

.windo_del_address .content {
	height: 80px;
	padding: 8px 0 0 40px
}

.windo_del_address .content p {
	font-size: 14px
}

.windo_del_address .content .b_yes {
	width: 36px;
	height: 21px;
	padding-top: 1px;
	margin: 20px 0 0 15px;
	cursor: hand
}

.windo_del_address .content .add_left_w {
	margin-left: 35px
}

.windo_del_address .content .b_no {
	width: 36px;
	height: 21px;
	padding-top: 1px;
	margin: 20px 0 0 35px;
	cursor: hand
}

.windo_del_address .content .label_cancel {
	background: url(../images/label_3.gif) no-repeat;
	height: 20px;
	padding-left: 25px;
	padding-top: 3px
}

.windo_del_address .cancel_reason {
	width: 250px;
	padding: 8px 0 18px 0;
	margin: auto
}

.windo_del_address .money_message {
	padding-top: 2px
}

.windo_del_address .cancel_reason h2 {
	height: 30px;
	font-size: 14px;
	text-align: center;
	color: #ff8400
}

.windo_del_address .cancel_reason h3 {
	height: 28px;
	font-size: 14px;
	text-align: center
}

.windo_del_address .cancel_reason p {
	line-height: 18px
}

.windo_del_address .cancel_reason ul {
	list-style: none;
	padding-left: 15px;
	padding-top: 10px
}

.windo_del_address .cancel_reason ul li {
	height: 28px
}

.windo_del_address .cancel_reason .choice_s {
	float: left;
	width: 21px;
	height: 21px
}

.windo_del_address .cancel_reason span {
	float: left;
	margin-left: 6px;
	padding-top: 5px
}

.windo_del_address .cancel_reason .other_reas {
	width: 130px;
	height: 16px;
	padding: 2px 0 0 5px;
	border: solid 1px #94a5b5;
	margin-left: 5px;
	color: #999999
}

.windo_del_address .cancel_reason .text_box {
	width: 122px;
	height: 16px;
	padding: 2px 0 0 5px;
	border: solid 1px #8d8f8f;
	margin-left: 2px
}

.windo_del_address .cancel_reason select {
	font-size: 12px;
	margin-left: 2px
}

.windo_del_address .cancel_reason .sele_1 {
	width: 130px
}

.windo_del_address .cancel_reason .sele_2 {
	width: 64px
}

.windo_del_address .cancel_reason .sele_3 {
	width: 158px
}

.windo_del_address .cancel_reason .button_s {
	margin-left: 90px;
	margin-top: 7px
}

/*=============08.3.13new ��Ʒ��========*/
.text_left {
	text-align: left
}

.t_red {
	color: #cc3300
}

.add_icon {
	padding-bottom: 5px
} /*08.6.26 new*/
.add_icon img {
	margin-bottom: 5px !important; >
	margin-bottom: 0 !important;
	margin-bottom: 0
} /*08.6.26 new*/
.pay_add {
	font-weight: normal;
	font-size: 12px;
	color: #878787
} /*08.6.26 new*/
.change_h1 {
	font-size: 12px;
	font-weight: normal;
	padding-left: 20px;
	color: #404040;
	padding-bottom: 3px;
}

.change_h2 {
	font-size: 12px;
	font-weight: normal;
	color: #404040
}

.notice_waite {
	float: right;
	font-size: 12px;
	font-weight: normal;
	color: #9b9b9b;
	padding-top: 2px
}

.tabl_order {
	width: 778px;
	border-collapse: collapse;
	text-align: center;
	border-top: solid 2px #666
}

.tabl_order td {
	padding: 0 10px;
	height: 28px;
	border-bottom: solid 1px #dadada
}

.tabl_titlebj {
	background-color: #e3fcff
}

.tabl_titlebj td {
	height: 17px;
	padding-top: 3px
}

.img_time {
	float: left;
	margin-left: 5px;
	display: block
}

.text_time {
	padding-top: 1px;
	display: block;
	float: left;
	margin-left: 5px
} /*08.7.3modify*/
.tabl_order .l_line {
	border-left: solid 1px #878787;
	border-bottom: solid 1px #666666
}

.tabl_order .b_line {
	border-bottom: solid 1px #666666
}

.gift_w_1 {
	width: 93px
}

.gift_w_2 {
	width: 50px
}

.gift_w_3 {
	width: 137px
}

.gift_w_4 {
	width: 252px
}

.gift_w_5 {
	width: 212px
}

.gift_w_6 {
	width: 157px
}

.gift_w_7 {
	width: 182px
}

.your_news {
	padding-top: 15px;
	text-align: right;
	color: #9b9b9b
}

.tabl_order .page_out {
	text-align: right;
	border-bottom: none;
	padding-top: 6px;
	padding-right: 0
}

/*08.7.3new begin*/
.add_line {
	height: 1px;
	border-bottom: solid 1px #a1a1a1;
	overflow: hidden
}

.shadow_line {
	height: 1px;
	border-bottom: solid 2px #a1a1a1;
	overflow: hidden;
	margin-bottom: 15px
}

.dash_line {
	height: 1px;
	border-bottom: dashed 1px #d3d3d3;
	overflow: hidden
}

.dot {
	letter-spacing: -3px
}

.total_pay {
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	border-bottom: none !important
}

.total_pay input {
	width: 100px;
	height: 25px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer
}

.bank_h {
	height: 20px;
	padding-top: 15px;
	padding-left: 10px
}
/*08.7.3new end*/

/*08.7.7modify*/
.m_w1 {
	width: 120px
}

.m_w2 {
	width: 50px
}

.m_w3 {
	width: 135px
}

.m_w4 {
	width: 48px
}

.m_w5 {
	width: 65px
}

.m_w6 {
	width: 160px
}

.no_dang_m {
	border: solid 1px #d3d3d3;
	width: 777px;
}

.no_dang_m .no_dang_border {
	border: 5px solid #f8f8f8;
	padding: 15px 0 15px 0;
	*padding: 15px 0 0 0;
}

.activ {
	width: 287px;
	padding-left: 10px;
	height: 200px;
	float: left
}

.activ div {
	height: 38px;
	padding-top: 0px
}

.activ .put_in {
	width: 159px;
	height: 16px;
	border: solid 1px #929292;
	padding-top: 3px
}

.activ .put_in2 {
	width: 39px;
	height: 16px;
	border: solid 1px #929292;
	padding-top: 3px;
	float: left;
}

.activ .butt_acti {
	width: 60px;
	height: 20px;
	margin: 6px 0 0 72px;
	cursor: pointer
}

.intro {
	width: 455px;
	float: left;
	border-left: dashed 1px #b9b9b9;
	padding: 0px 0 0 10px;
	color: #878787;
	height: 210px;
}

.intro h3 {
	font-size: 12px;
	line-height: 20px;
	margin: 0 0 0px 0;
}

.intro h4 {
	font-size: 12px;
	line-height: 20px;
	margin: 0 0 0px 0;
}
/*08.3.13����������ʽ*/
.new_window {
	width: 345px;
	border: solid 2px #447aa9;
	background-color: #fff
}

.wind_top {
	height: 20px;
	padding: 2px 2px 0 8px;
	background-color: #458bc9
}

.wind_top .title_left {
	padding-top: 2px;
	color: #fff;
	float: left
}

.w_close {
	float: right
}

.w_notice {
	line-height: 18px;
	background-color: #e5e5e5;
	padding: 8px 7px 5px 8px;
	color: #878787;
	border: solid 1px #fff
}

.dang_money {
	height: 22px;
	padding-top: 8px;
	padding-left: 20px
}

.dang_money input {
	width: 165px;
	height: 15px;
	border: solid 1px #909292;
	padding: 3px 0 0 3px
}

.button_close {
	height: 22px;
	padding-top: 1px;
	margin: 13px 0 10px 135px
}
/*.w_ok_use{ width:200px; padding-bottom:5px; line-height:20px; margin:30px 0 0 70px; padding-left:28px; background:url(../images/w_use_icon.gif) no-repeat left top}*/
.button_tj {
	width: 60px;
	height: 22px;
	padding-top: 1px;
	margin: 13px 0 10px 90px;
	float: left;
	margin-right: 5px
}

.notice_fp {
	color: #cc3300;
	display: block;
	padding-top: 18px
}

.choice_p {
	height: 28px;
	padding: 20px 0 0 52px
}

.choice_date {
	height: 47px;
	padding-left: 52px
}

.date_in {
	float: left;
	width: 112px;
	padding-left: 3px;
	height: 15px;
	padding-top: 4px;
	border: solid 1px #9b9b9b;
	color: #878787;
	margin-right: 1px
}

.choice_date img {
	float: left;
	margin-right: 10px
}

.choice_date .tj_date {
	width: 60px;
	height: 22px;
	cursor: pointer
}

.date_ww {
	width: 150px;
	height: 170px;
	border: solid 1px #7e9db9
}

.mydangdang_notice {
	margin: 0 0 0 5px;
	color: #666;
	line-height: 20px;
}

.mydangdang_noword {
	margin: 0px 0px 20px 8px;
	text-align: center;
	line-height: 20px;
	background: #f4feff;
	border: 1px solid #d3d3d3;
	padding: 20px;
}

.mydangdang_noword_text {
	text-align: left;
	width: 200px;
}

.mydangdang_noword_text1 {
	text-align: left;
	width: 300px;
	margin: 10px 0 10px 10px;
	font-size: 12px;
}

.mydangdang_noword_text1_none {
	text-align: left;
	width: 300px;
	margin: 0px 0 3px 0px;
	font-size: 12px;
}

.mydangdang_noword_text2 {
	text-align: left;
	width: 200px;
	margin: 0 0 0 250px;
}

.wydangdang_data {
	float: left;
	display: block;
	margin: 2px 4px 0 65px;
	_margin: 2px 4px 0 35px;
} /*2009-4-16jn �޸�*/
.tabl_order .b_line img {
	display: block;
	float: left;
}

.mydangdang_hang7 {
	height: 5px;
	font-size: 0px;
	line-height: 0px;
}

.mydangdang_line {
	border-bottom: dashed 1px #e1e1e1;
	margin: 0 10px;
}

.case_textarea {
	width: 320px;
	height: 64px;
	margin-left: 20px;
}

.case_textarea1 {
	width: 320px;
	height: 64px;
	margin: 0 10px;
}

.case_text {
	height: 38px;
}

.case_text6 {
	height: 22px;
	margin-top: 8px;
}

.case_text1 {
	float: left;
	width: 54px;
	height: 20px;
	line-height: 26px;
	margin-left: 24px;
	_margin-left: 12px;
	margin-right: 0px;
}

.case_text11 {
	float: left;
	width: 49px;
	height: 20px;
	line-height: 26px;
	margin-left: 67px;
	_margin-left: 12px;
	margin-right: 0px;
}

.case_text2 {
	float: left;
	width: 260px;
	height: 24px;
	line-height: 32px;
	margin-right: 0px;
	text-align: right;
}

.case_shuaxin {
	float: left;
	height: 32px;
	line-height: 32px;
}

.mall_yanzhengma {
	width: 69px;
	height: 24px;
	margin-top: 3px;
	float: left;
	margin-right: 4px;
}

.mall_goods_message_area2 {
	width: 39px;
	line-height: 16px;
	height: 19px;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	border: solid 1px #929292;
}

.mall_goods_message_area3 {
	width: 39px;
	line-height: 16px;
	height: 18px;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	border: solid 1px #929292;
}

.asdf {
	float: right;
	height: 20px;
	line-height: 20px;
	padding-top: 2px;
	padding-right: 10px;
}

/*08.3.13����������ʽ*/
.new_window {
	width: 345px;
	border: solid 2px #447aa9;
	background-color: #fff
}

.wind_top {
	height: 20px;
	padding: 2px 2px 0 8px;
	background-color: #458bc9
}

.wind_top .title_left {
	padding-top: 2px;
	color: #fff;
	float: left
}

.w_close {
	float: right
}

.w_notice {
	line-height: 18px;
	background-color: #e5e5e5;
	padding: 8px 7px 5px 8px;
	color: #878787;
	border: solid 1px #fff
}

.dang_money {
	height: 22px;
	padding-top: 8px;
	padding-left: 20px
}

.dang_money input {
	width: 165px;
	height: 15px;
	border: solid 1px #909292;
	padding: 3px 0 0 3px
}

.button_close {
	height: 22px;
	padding-top: 1px;
	margin: 13px 0 10px 135px
}
/*.w_ok_use{ width:200px; padding-bottom:5px; line-height:20px; margin:30px 0 0 70px; padding-left:28px; background:url(../images/w_use_icon.gif) no-repeat left top}*/
.button_tj1 {
	width: 60px;
	height: 22px;
	padding-top: 1px;
	margin: 20px 0 0 0;
}

.notice_fp1 {
	color: #cc3300;
	display: block;
	padding-top: 6px;
	padding-bottom: 11px;
}

.choice_p {
	height: 28px;
	padding: 20px 0 0 52px
}

.choice_date {
	height: 47px;
	padding-left: 52px
}

.date_in {
	float: left;
	width: 112px;
	padding-left: 3px;
	height: 15px;
	padding-top: 4px;
	border: solid 1px #9b9b9b;
	color: #878787;
	margin-right: 1px
}

.choice_date img {
	float: left;
	margin-right: 10px
}

.choice_date .tj_date {
	width: 60px;
	height: 22px;
	cursor: pointer
}

.date_ww {
	width: 150px;
	height: 170px;
	border: solid 1px #7e9db9
}

.window2 {
	width: 345px;
	border: solid 2px #447aa9;
	background: #fff;
	overflow: hidden;
}

.add_w_h {
	height: 196px
} /*------------*/
.wind_title {
	height: 19px;
	padding: 3px 4px 0 10px;
	background-color: #458bc9
}

.title_left {
	padding-top: 0px;
	color: #fff;
	float: left
}

.window_close {
	float: right
}

.w_notice_3 {
	margin: 10px;
	line-height: 18px;
}

/*������ȯ����090309===========================*/
.activ_lq {
	width: 410px;
	height: auto;
	padding-left: 15px;
	overflow: hidden;
	padding-top: 15px;
}

.activ_lq .lq_yzbutt {
	width: 60px;
}

.activ_lq div {
	height: 28px;
	padding-top: 5px;
	clear: both;
	margin-left: 30px;
}

.activ_lq div.lq_note {
	padding-left: 84px;
	padding-top: 10px;
	height: auto;
}

.activ_lq div label {
	display: block;
	float: left;
	width: 84px;
	text-align: right;
	line-height: 20px;
}

.activ_lq .put_in {
	width: 159px;
	height: 16px;
	border: solid 1px #929292;
	padding-top: 3px;
	float: left;
	margin-right: 10px;
}

.activ_lq .put_in2 {
	width: 50px;
	height: 16px;
	border: solid 1px #929292;
	padding-top: 3px;
	float: left;
	margin-right: 10px;
	display: inline;
}

.activ_lq .vcode {
	height: 30px;
	overflow: hidden;
	display: block;
	float: left;
	position: relative;
	top: -6px;
	width: 130px;
}

.activ_lq .butt_acti {
	width: 60px;
	height: 20px;
	margin: 6px 0 0 84px;
	*margin: 6px 0 0 54px;
	_margin: 6px 0 0 54px;
	cursor: pointer
}

.activ_lq span.msg {
	float: left;
	display: block;
	line-height: 28px;
	padding-left: 5px;
	padding-right: 5px;
}

.activ_lq span.note {
	display: block;
	float: left;
	border: 1px solid #c59d5f;
	color: #cc3300;
	line-height: 15px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
	margin-top: 1px;
	background-color: #fef3bb;
}

.activ_lq .lq_note span.note {
	clear: left;
}

.activ_lq .succeed {
	display: block;
	float: left;
	border: 1px solid #a8c97a;
	background-color: #FFFFFF;
	color: #cc3300;
	line-height: 26px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 1px;
	margin-top: 1px;
	height: 26px;
}

.activ_lq .succeed a {
	text-decoration: underline;
}

.intro_lq {
	width: 317px;
	float: left;
	border-left: dashed 1px #b9b9b9;
	color: #878787;
	height: auto;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}

.intro_lq h3 {
	height: auto;
}

.intro_lq h3.tit {
	font-weight: bold;
	font-size: 14px;
	position: relative;
	top: -5px;
}
/*��ȯ�б�090309==============================*/
.tab_lq td {
	padding: 0 10px;
	height: 36px;
	border-bottom: solid 1px #dadada;
	line-height: 14px;
}

.lq_w_1 {
	width: 140px
}

.lq_w_2 {
	width: 80px
}

.lq_w_3 {
	width: 156px
}

/*��������090309==============================*/
.lq_win {
	clear: both;
	width: 400px;
	overflow: hidden;
}

.lq_win .activ_lq {
	float: none;
	height: auto;
	width: auto;
	margin: 0px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 0px;
}

/*����090309==============================*/
.leave_navi {
	width: 759px;
	height: 27px;
	background: url(../images/bg_line.gif) repeat-x bottom;
	padding-left: 19px;
	list-style: none;
	margin: 14px 0 15px 0;
}

.leave_navi li {
	display: block;
	width: 156px;
	height: 18px;
	padding-top: 6px;
	float: left;
	margin-right: 1px;
	background: url(../images/leave_navi_bg.gif) no-repeat top;
	text-align: center
}

.leave_navi .word_now {
	background: url(../images/leave_navi_bg_n.gif) no-repeat top;
	font-weight: bold
}

.leave_navi span {
	font-weight: normal
}

.leave_navi a {
	color: #404040
}

.zhgl_tx1_title {
	font-size: 14px;
	height: 22px;
	line-height: 22px;
	margin: 0 10px 15px 10px;
	padding: 5px 0 3px 10px;
	border-bottom: 1px dashed #ebebeb;
}

.zhgl_tx1_left {
	height: 32px;
	line-height: 32px;
	width: 180px;
	text-align: right;
	margin: 0 20px 0 0;
	float: left;
}

.zhgl_tx1_right {
	height: 32px;
	line-height: 32px;
	width: 550px;
	float: left;
	padding-top: 0px;
	_padding-top: 6px;
}

.zhgl_tx1_right_dizhi {
	height: 32px;
	line-height: 32px;
	width: 550px;
	float: left;
}

.zhgl_tx1_right_diqu {
	height: 32px;
	padding-top: 0px;
	_padding-top: 2px;
	line-height: 32px;
	*line-height: 24px;
	_line-height: 32px;
	width: 550px;
	float: left;
}

.zhgl_tx1_button {
	margin: 10px 0 30px 198px;
	width: 70px;
}

.zhgl_tx1_right_money {
	height: 82px;
	line-height: 32px;
	width: 450px;
	float: left;
}

.h10 {
	height: 10px;
}

.srk_70 {
	width: 70px;
}

.srk_160 {
	width: 160px;
}

.srk_210 {
	width: 210px;
}

.zhgl_tx1_frame {
	background: #f4feff;
	border: 1px solid #d3d3d3;
	margin: 10px 10px 0 20px;
	width: 745px;
	padding: 5px 0;
}

.zhgl_tx1_frame1 {
	margin: 10px 10px 0 10px;
	width: 715px;
	padding: 5px 15px;
	line-height: 22px;
}

.zhgl_tx2_left {
	height: 26px;
	line-height: 26px;
	width: 120px;
	text-align: right;
	margin: 0 3px 0 0;
	float: left;
}

.zhgl_tx2_right {
	height: 26px;
	line-height: 26px;
	width: 550px;
	float: left;
	padding-top: 0px;
}

.zhgl_tx2_title {
	margin: 0 0 0 20px;
}

.zhgl_tx2_button {
	margin: 0px 0 0px 10px;
	width: 100px;
}

.zhgl_tx1_frame_button {
	height: 50px;
	line-height: 50px;
	padding: 10px 0 0 195px;
}

.zhgl_tx1_frame_button_text {
	margin-top: 0px;
	display: block;
	float: left;
	line-height: 40px;
	*line-height: 50px;
	_line-height: 40px;
}

.zhgl_tx1_h2 {
	font-size: 14px;
	text-align: center;
	margin: 20px 0;
	font-weight: bold;
}

.zhgl_tx1_h2_frame {
	background: #f4feff;
	border: 1px solid #d3d3d3;
	margin: 10px 10px 0 20px;
	width: 715px;
	padding: 5px 15px 15px 15px;
	line-height: 23px;
}

.zhgl_tx3_none {
	margin: 40px 0;
	text-align: center;
}

.td_w_1 {
	width: 80px
}

.td_w_2 {
	width: 58px
}

.td_w_3 {
	width: 130px
}

.td_w_4 {
	width: 65px
}

.td_w_5 {
	width: 61px
}

.td_w_6 {
	width: 200px
}

.td_w_7 {
	width: 109px
}

.text_time1 {
	padding-top: 1px;
	display: block;
	float: left;
	padding-left: 60px
} /*08.7.3modify*/
.zhgl_tx1_frame3 {
	margin: 10px 10px 0 0px;
	width: 745px;
	padding: 5px 0;
}

.zhgl_tx2_left3 {
	height: 26px;
	line-height: 26px;
	width: 73px;
	text-align: right;
	margin: 0 3px 0 0;
	float: left;
}

.zhgl_tx2_right3 {
	height: 26px;
	line-height: 26px;
	width: 600px;
	float: left;
	padding-top: 0px;
}

/*�淶��֤��2009.3.31jn*/
/*Ӣ����֤��ͼƬ�ߴ�100x30px*/
.mode_yzm_cont_e_100x30 {
	height: 36px;
	background: none;
	font-size: 12px;
	clear: both;
	padding-top: 10px;
	margin-left: 60px;
	margin-top: 5px;
}

.mode_yzm_cont_e_100x30 p {
	float: left;
	color: #404040;
	line-height: 22px;
}

.mode_yzm_cont_e_100x30 input {
	margin: 0px 6px 0px 0px;
	width: 48px;
	height: 16px;
	border: solid 1px #a1a1a1;
	float: left;
	padding: 2px 0 0 2px;
}

.mode_yzm_cont_e_100x30 img {
	width: 100px;
	height: 30px;
	float: left;
	margin: -5px 7px 0px 0px;
}

.mode_yzm_cont_e_100x30 a {
	float: left;
	color: #1a66b3;
	text-decoration: none;
	margin: 0px 7px 0px 0px;
	line-height: 22px;
}

.mode_yzm_cont_e_100x30 a:hover {
	text-decoration: underline;
}

.mode_yzm_cont_e_100x30 .mode_yzm_note {
	float: left;
	display: block;
	padding: 4px 0px 2px 5px;
	margin-top: 0px;
	line-height: 12px;
	background: #fef3bd;
	border: 1px solid #c79f62;
	color: #cc3300;
	height: 12px;
}

.mydangdang_zhye_none {
	text-align: center;
	height: 70px;
	line-height: 70px;
}

.activ_lq div.mode_tips {
	float: left;
	display: block;
	padding: 4px 0px 2px 5px;
	margin-top: 0px;
	line-height: 12px;
	background: #fff;
	border: 1px solid #a8c97a;
	color: #608101;
	height: 12px;
	font-family: ����;
	font-size: 12px;
} /*2009.5.8 jn����*/
.account_line {
	border-bottom: 1px dashed #d3d3d3;
	margin: 0 20px 10px 20px;
}

.account_title {
	font-size: 14px;
	text-align: center;
	margin: 30px 0px;
	font-weight: bold;
}

/*09-12-15 xuehua ����*/
.account_right_tagbottom_11 {
	margin: 15px auto 15px;
	text-align: center;
}

.account_right_tag {
	height: 23px;
	margin-top: 15px;
	border-bottom: 1px solid #666666;
}

.account_right_tagtop {
	height: 23px;
	padding-left: 10px;
}
/*.account_right_tagtop1{ width:112px; height:23px; text-align:center;font-size:12px; line-height:23px; float:left; background-image:url(../../images/xiugai/hsearch_nav.gif); margin-right:1px; color:#404040;}*/
/*ztx*/
.account_right_tagtop1 {
	width: 113px;
	height: 30px;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	float: left;
	background: url(../images/payhistory_sprites_110913.png) no-repeat 0
		-30px;
	margin-right: 5px;
	cursor: default;
}

.account_right_tagtop1now {
	width: 112px;
	height: 24px;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	float: left;
	background-image: url(../../images/xiugai/hsearch_nav_now.gif);
	font-weight: bold;
	margin-right: 1px;
	position: relative;
	margin-bottom: -1px;
}

.account_gray {
	color: #404040;
}

.table_order {
	width: 768px;
	border-collapse: collapse;
	text-align: center;
	border-top: solid 2px #666;
	margin-bottom: 15px;
}

.table_order1 {
	width: 768px;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 15px;
}

.table_titlebj {
	background-color: #e3fcff
}

.table_titlebj td {
	height: 25px;
	*height: 20px;
	_height: 20px;
	padding-top: 3px
}

.table_titlebjk td {
	height: 33px;
	*height: 28px;
	_height: 28px;
	padding-top: 3px;
}

.table_order td {
	border-bottom: solid 1px #dadada
}

.table_order td p {
	display: block;
	margin-bottom: 1px;
	margin-top: 1px;
}

.table_order .l_line {
	border-left: solid 1px #878787;
	border-bottom: solid 1px #666666
}

.table_order .b_line {
	border-bottom: solid 1px #666666
}

.table_titlebj1 {
	width: 140px;
}

.table_titlebj2 {
	width: 41px;
}

.table_titlebj3 {
	width: 70px;
}

.table_titlebj4 {
	width: 70px;
}

.table_titlebj5 {
	width: 90px;
}

.table_titlebj6 {
	width: 76px;
}

.table_titlebj7 {
	width: 55px;
}

.table_titlebj8 {
	width: 65px;
}

.table_titlebj9 {
	
}
/*10-01-28 xuehua ����*/
.table_order1 {
	width: 778px;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 15px;
}

.table_order1 td {
	border-bottom: solid 1px #dadada
}

.table_order1 td p {
	display: block;
	margin-bottom: 1px;
	margin-top: 1px;
}

.table_order1 .l_line {
	border-left: solid 1px #878787;
	border-bottom: solid 1px #666666
}

.table_order1 .b_line {
	border-bottom: solid 1px #666666
}

.activation_btn {
	float: right
}

.arrow_manage1 {
	margin: -2px 0 0px 3px
}

.keyong_color {
	color: #006600;
}

.guoqi_color {
	color: #878787;
}

.weijihuo_color {
	color: #1a66b3;
}

.selectbox1 {
	width: 55px;
	line-height: 18px;
	border: 1px solid #000;
}

.selectbox1 a {
	color: #404040;
	display: block;
	width: 45px;
	height: 18px;
	padding-left: 10px;
}

.selectbox1 a:hover {
	text-decoration: none
}

.selectbox2 {
	width: 65px;
	line-height: 18px;
	border: 1px solid #000;
}

.selectbox2 a {
	color: #404040;
	display: block;
	width: 57px;
	height: 18px;
	padding-left: 8px;
}

.selectbox2 a:hover {
	text-decoration: none
}

.select_mourseover {
	background-color: #316ac5;
}

.select_color {
	color: #FFFFFF
}

.mode_notice {
	float: left;
	display: block;
	padding: 4px 0px 2px 5px;
	margin-top: 0px;
	line-height: 12px;
	background: #fef3bd;
	border: 1px solid #c79f62;
	color: #cc3300;
	height: 12px;
	font-family: ����;
	font-size: 12px;
}

.activ_lq_baocuo {
	padding-left: 130px;
}

.activ_lq_shuoming {
	color: 878787;
	text-align: right;
}

.butt_acti2 {
	width: 60px;
	height: 20px;
	margin: 6px 0 0 28px;
	cursor: pointer
}

.activ_lqo {
	margin-left: 30px;
}

.account_right_allnone {
	width: 469px;
	height: 197px;
	overflow: hidden;
	border: 1px solid #d3d3d3;
	margin: auto;
}

.account_right_allnone2 {
	width: 459px;
	height: 187px;
	overflow: hidden;
	border: 5px solid #f8f8f8;
	margin: auto;
}

* {
	padding: 0;
	margin: 0
}

body {
	font-family: "����", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: none;
	color: #404040
}

img {
	border: 0
}

input {
	vertical-align: middle;
	font-size: 12px
}

.f_nostrong {
	font-weight: normal;
}

/* �������� */
.window {
	width: 640px;
	border: solid 2px #447aa9;
	background-color: #fff;
}

.window h2 {
	font-weight: bolder;
	font-size: 12px;
	margin: 0px 0 0 25px;
}

.window ul {
	list-style: none;
	margin-left: 35px;
	margin-bottom: 12px;
	margin-top: 4px;
}

.window ul li {
	line-height: 22px;
}

.window li input {
	margin-right: 5px;
}

.wind_title {
	height: 20px;
	padding: 2px 2px 0 8px;
	margin-bottom: 20px;
	background-color: #458bc9
}

.title_left {
	padding-top: 2px;
	color: #fff;
	float: left
}

.window_close {
	width: 30px;
	height: 18px;
	float: right;
	text-align: right;
	padding-top: 1px
}

.notice {
	width: 173px;
	padding-left: 30px;
	padding-top: 3px;
	height: 30px;
	margin: auto;
	margin-top: 30px;
	background: url(http://comm.dangdang.com/rlImages/icon_ok.gif) no-repeat
		0px top;
	font-size: 12px
}

.notice_txt {
	width: 280px;
	text-align: left;
	margin: auto;
	line-height: 20px;
}

.add_txt {
	margin: auto;
	width: 310px;
}

.add_txt textarea {
	margin-top: 6px;
	width: 310px;
	border: 1px solid #8a8a8a;
	height: 70px;
}

.bt_ok {
	height: 20px;
	margin: 10px auto 18px auto;
	text-align: center;
	clear: both;
}

.bt_ok1 {
	margin-right: 18px;
	width: 80px;
	height: 20px;
}

.bt_ok2 {
	width: 80px;
	height: 20px;
}

.window_a {
	padding-left: 19px;
	padding-right: 17px;
	line-height: 18px;
}

.window_b {
	text-align: right;
	border-bottom: 1px dashed #c3c3c3;
	margin-right: 20px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-left: 20px;
}

.window_c {
	padding-left: 19px;
	line-height: 18px;
	margin-top: 20px;
}

.window_d {
	text-align: center;
	padding-bottom: 10px;
}

.window2 {
	width: 225px;
	border: solid 2px #447aa9;
	background-color: #fff
}

.window_e {
	padding-bottom: 10px;
	padding-left: 62px;
}

.window3 {
	width: 184px;
	border: solid 2px #447aa9;
	background-color: #fff;
	line-height: 18px;
}

.window4 {
	width: 620px;
	border: solid 2px #447aa9;
	background-color: #fff;
	line-height: 18px;
	clear: both;
}

.window_f {
	width: 620px;
	margin: 0 auto;
	padding-bottom: 3px;
}

.window_f1 {
	width: 180px;
	height: 20px;
	line-height: 20px;
	text-align: right;
	display: block;
	float: left;
	clear: left;
}

.window_f2 {
	width: 152px;
	margin-right: 6px;
}

.window_g {
	margin-bottom: 13px;
}

.window_note {
	color: #cc3300;
	border: 1px solid #c59d5f;
	background: #fef3bb;
	padding: 2px 6px;
}

.window_f3 {
	width: 308px;
	margin-right: 6px;
	height: 89px;
}

.window_note1 {
	color: #cc3300;
	border: 1px solid #c59d5f;
	background: #fef3bb;
	padding: 2px 6px;
	clear: left;
	margin-left: 180px;
}

.window_h {
	margin-bottom: 5px;
}

.window_f4 {
	clear: left;
	text-align: right;
	padding-right: 110px;
	color: #878787;
	float: right;
}

.window_i {
	margin-top: 10px;
}

.window_f5 {
	width: 52px;
	margin-right: 6px;
}

/*��֤��*/
.mode_yzm_cont_e_100x30 {
	height: 36px;
	background: none;
	font-size: 12px;
	clear: both;
	padding-top: 10px;
	margin-left: 60px;
	margin-top: 8px;
}

.mode_yzm_cont_e_100x30 p {
	float: left;
	color: #404040;
	line-height: 22px;
}

.mode_yzm_cont_e_100x30 input {
	margin: 0px 6px 0px 0px;
	width: 48px;
	height: 16px;
	border: solid 1px #a1a1a1;
	float: left;
	padding: 2px 0 0 2px;
}

.mode_yzm_cont_e_100x30 img {
	width: 100px;
	height: 30px;
	float: left;
	margin: -5px 7px 0px 0px;
}

.mode_yzm_cont_e_100x30 a {
	float: left;
	color: #1a66b3;
	text-decoration: none;
	margin: 0px 7px 0px 0px;
	line-height: 22px;
}

.mode_yzm_cont_e_100x30 a:hover {
	text-decoration: underline;
}

.mode_yzm_cont_e_100x30 .mode_yzm_note {
	float: left;
	display: block;
	padding: 4px 0px 2px 5px;
	margin-top: 0px;
	line-height: 12px;
	background: #fef3bd;
	border: 1px solid #c79f62;
	color: #cc3300;
	height: 12px;
}

.table_gray {
	color: #404040;
}

.mode_turn_page {
	float: right;
	font-size: 12px;
	line-height: 15px;
	clear: both;
	margin-right: 15px;
}

/*100128 xuehua�޸�*/
.window_name {
	float: right;
	padding-right: 110px;
}

.window_notef {
	color: #cc3300;
	border: 1px solid #c59d5f;
	background: #fef3bb;
	padding: 2px 6px;
	float: left;
	margin-left: 240px;
	margin-top: -3px;
}

.window_gg {
	margin-bottom: 13px;
	margin-top: 13px;
	clear: both;
}

.window_f2n {
	width: 52px;
	margin-right: 6px;
}

.yulan {
	padding-top: 12px;
}

/*�ջ���ַ�� 2010-5-9 qsy���*/
.my_address_info {
	width: 777px;
	border: 1px solid #d3d3d3;
	margin-bottom: 10px;
}

.my_address ul li span.address_num, .other_address ul li span.address_num
	{
	display: inline-block;
	width: 22px;
	vertical-align: top;
}

.my_address ul li span.address_text, .other_address ul li span.address_text
	{
	display: inline-block;
	width: 670px;
	overflow: hidden;
	word-break: break-all;
}

.address_text .address_id {
	background-color: #f35242;
	color: #fff;
	padding: 0 6px;
	margin: 0 8px 0 0;
	display: inline-block;
	line-height: 16px;
	height: 16px;
	font-style: normal;
}

.my_address_btn {
	padding: 5px 0 10px 5px;
	height: 22px;
}

.my_address_btn span {
	display: block;
	padding: 5px 0 0 43px;
	float: left;
}

.my_address_dashed {
	height: 1px;
	line-height: 1px;
	background: #fff;
	overflow: hidden;
	margin-top: -1px;
}

.my_address_hint {
	padding: 1px 6px 0 0;
	text-align: right;
	width: 771px;
	color: #878787;
}

.my_address_add {
	margin-top: 13px;
	padding-bottom: 51px;
}

.my_address_add h5 {
	border-bottom: 1px solid #D3D3D3;
	height: 25px;
	line-height: 25px;
	margin: 0 auto;
	width: 736px;
	font-size: 12px;
	font-weight: bold;
	padding-left: 7px;
}

.my_address_add h5 span {
	color: #878787;
	font-weight: normal;
	display: inline-block;
	padding-left: 15px;
}

.my_address_add_info {
	padding: 14px 0 0 0;
}

.my_address_add_info p {
	display: block;
	clear: both;
	padding: 8px 0;
	margin-top: 20px;
}

.my_address_add_info label {
	width: 80px;
	padding: 3px 12px 0 0;
	text-align: right;
	display: block;
	float: left;
}

.my_address_add_info label strong {
	font-weight: normal;
	margin: 3px 0 0 5px;
	font-size: 12px;
	line-height: 18px;
	color: #ff7417;
	padding-right: 2px;
}

.my_address_add_info input, .my_address_add_info select {
	display: block;
	float: left;
	border: 1px solid #dadada;
	background: #fff;
	height: 18px;
	line-height: 18px;
	margin-right: 9px;
}

.my_address_add_info span.hint {
	color: #f40000;
	display: inline-block;
	padding: 3px 0 0 28px;
	background: url(../images/icon_tip.png) 5px 0px no-repeat;
}

.my_address_add_info span.hint.new_tip {
	clear: both;
	display: block;
	margin: 3px 0 0 87px;
}

.teltip {
	color: #878787;
	display: inline-block;
	padding: 3px 0 0 11px;
}

.my_address_add_info span.nohint {
	display: none;
}

.my_address_btn span a {
	cursor: pointer;
}

.my_address_add_info .address_add_checkbox input {
	border: 0;
	background: none;
	margin-left: 60px;
	_display: inline;
}

.my_address_add_info .address_add_checkbox span {
	padding: 1px 0 0 10px;
	display: block;
	float: left;
	*padding: 2px 0 0 3px;
}

.address_add_btn {
	padding: 0 0 4px 92px !important;
}

.address_add_btn button {
	width: 63px;
}

.address_add_btn span {
	display: inline-block;
	padding: 0 0 0 18px;
	color: #c30;
	vertical-align: middle;
}

.address_add_btn span.nohint {
	display: none;
}

.windows_address {
	width: 225px;
	height: 105px;
	background: #cfcfcf;
	position: relative
}

.windows_address_del {
	width: 220px;
	height: 100px;
	border: 1px solid #457baa;
	background: #fff;
	position: absolute;
	top: -2px;
	left: -2px;
	padding: 2px;
}

.windows_address_del a.close {
	width: 15px;
	height: 15px;
	background: url(../images/windo_close2.gif) no-repeat 0 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	display: block;
	float: right;
	text-indent: -999px;
}

.windows_address_del p {
	text-align: center;
}

.windows_address_del p.text {
	height: 65px;
	line-height: 65px;
	font-size: 14px;
	padding-left: 15px;
}

.windows_address_del p button {
	display: inline-block;
	margin: 0 21px;
	width: 35px;
	font-size: 12px;
}

.other_address li.clear {
	display: block;
	float: none;
	_display: inline;
	padding: 0;
	margin: 0;
}

/*��ҳ*/
.fanye {
	height: 24px;
	text-align: right;
	margin-top: 5px;
	padding-right: 5px;
}

.fanye a {
	color: #1a66b3;
	background: url(../images/fanye_r.gif) no-repeat right 0;
	display: block;
	float: right;
	height: 24px;
	padding-right: 6px;
	margin-left: 6px;
	font: 14px/24px Arial;
	text-decoration: none;
}

.fanye a.fanye_page {
	font: bold 12px/24px "����";
}

.fanye a span {
	background: url(../images/fanye_l.gif) no-repeat 0 0;
	height: 24px;
	display: inline-block;
	padding-left: 7px;
	cursor: pointer;
}

.fanye a.nonce, .fanye a:hover {
	color: #fff;
	background: url(../images/fanye_r.gif) no-repeat right bottom;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial;
}

.fanye a.nonce span, .fanye a:hover span {
	background: url(../images/fanye_l.gif) no-repeat left bottom;
	cursor: default;
}

.fanye a:hover span {
	cursor: pointer;
}

.fanye span.dot {
	float: right;
	display: block;
	color: #a1a1a1;
	font: bold 13px Arial;
	letter-spacing: 0;
	padding: 0 5px 0 11px;
	cursor: default;
}

.fanye a.fanye_none, .fanye a:hover.fanye_none {
	color: #878787;
	cursor: default;
	background: url(../images/fanye_r.gif) no-repeat right top
}

.fanye a.fanye_none span, .fanye a:hover.fanye_none span {
	background: url(../images/fanye_l.gif) no-repeat left top;
	cursor: default;
}